<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电影天堂</title>
</head>
<body>
<h1>wewewhgjshf的符号和国际化</h1>

<h2>
    <span th:text="${list.msg}"></span>
    <span th:text="${list.code}"></span>
    <span th:text="${list.port}"></span>
    <span th:text="${list.applicationName}"></span>
    <span th:text="${list.data.name}"></span>
</h2>
</body>
</html>