spring:
  application:
    name: service-rabbitMQ
  rabbitmq:
    port: 5672
    username: guest
    password: guest
    host: localhost

server:
  port: 8086

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:2001/eureka/


