<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dytt.module.movie.mapper.MovieMapper">
    <!--<resultMap id="BaseResultMap" type="com.dytt.movie.entity.Movie">-->
    <!--<id column="id" jdbcType="BIGINT" property="id"/>-->
    <!--<result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>-->
    <!--<result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>-->
    <!--<result column="last_update_user_id" jdbcType="INTEGER" property="lastUpdateUserId"/>-->
    <!--<result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate"/>-->
    <!--<result column="title" jdbcType="VARCHAR" property="title"/>-->
    <!--<result column="name" jdbcType="VARCHAR" property="name"/>-->
    <!--<result column="name2" jdbcType="VARCHAR" property="name2"/>-->
    <!--<result column="age" jdbcType="VARCHAR" property="age"/>-->
    <!--<result column="place_of_origin" jdbcType="VARCHAR" property="placeOfOrigin"/>-->
    <!--<result column="category_id" jdbcType="VARCHAR" property="categoryId"/>-->
    <!--<result column="language" jdbcType="VARCHAR" property="language"/>-->
    <!--<result column="subtitle" jdbcType="VARCHAR" property="subtitle"/>-->
    <!--<result column="release_time" jdbcType="VARCHAR" property="releaseTime"/>-->
    <!--<result column="douban_score" jdbcType="VARCHAR" property="doubanScore"/>-->
    <!--<result column="IMDb_score" jdbcType="VARCHAR" property="imdbScore"/>-->
    <!--<result column="file_format" jdbcType="VARCHAR" property="fileFormat"/>-->
    <!--<result column="video_size" jdbcType="VARCHAR" property="videoSize"/>-->
    <!--<result column="file_size" jdbcType="VARCHAR" property="fileSize"/>-->
    <!--<result column="length" jdbcType="VARCHAR" property="length"/>-->
    <!--<result column="director" jdbcType="VARCHAR" property="director"/>-->
    <!--<result column="actor" jdbcType="VARCHAR" property="actor"/>-->
    <!--<result column="summary" jdbcType="VARCHAR" property="summary"/>-->
    <!--<result column="awards" jdbcType="VARCHAR" property="awards"/>-->
    <!--<result column="download_link" jdbcType="VARCHAR" property="downloadLink"/>-->
    <!--<result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List">-->
    <!--id, create_user_id, create_date, last_update_user_id, last_update_date, title, name, -->
    <!--name2, age, place_of_origin, category_id, language, subtitle, release_time, douban_score, -->
    <!--IMDb_score, file_format, video_size, file_size, length, director, actor, summary, -->
    <!--awards, download_link, img_url-->
    <!--</sql>-->
    <!--<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from gcdy_movie-->
    <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</select>-->
    <!--<select id="selectByCondition" parameterType="com.dytt.movie.entity.Movie" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from gcdy_movie-->
    <!--<where>-->
    <!--<if test="title != null">-->
    <!--title = #{title,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="name != null">-->
    <!--name = #{name,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="name2 != null">-->
    <!--name2 = #{name2,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--</where>-->
    <!--</select>-->

    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
    <!--delete from gcdy_movie-->
    <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</delete>-->
    <!--<insert id="insert" parameterType="com.dytt.movie.entity.Movie">-->
    <!--insert into gcdy_movie (id, create_user_id, create_date, -->
    <!--last_update_user_id, last_update_date, title, -->
    <!--name, name2, age, place_of_origin, -->
    <!--category_id, language, subtitle, -->
    <!--release_time, douban_score, IMDb_score, -->
    <!--file_format, video_size, file_size, -->
    <!--length, director, actor, -->
    <!--summary, awards, download_link, -->
    <!--img_url)-->
    <!--values (#{id,jdbcType=BIGINT}, #{createUserId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},-->
    <!--#{lastUpdateUserId,jdbcType=INTEGER}, now(), #{title,jdbcType=VARCHAR},-->
    <!--#{name,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{placeOfOrigin,jdbcType=VARCHAR}, -->
    <!--#{categoryId,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, -->
    <!--#{releaseTime,jdbcType=VARCHAR}, #{doubanScore,jdbcType=VARCHAR}, #{imdbScore,jdbcType=VARCHAR}, -->
    <!--#{fileFormat,jdbcType=VARCHAR}, #{videoSize,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR}, -->
    <!--#{length,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, #{actor,jdbcType=VARCHAR}, -->
    <!--#{summary,jdbcType=VARCHAR}, #{awards,jdbcType=VARCHAR}, #{downloadLink,jdbcType=VARCHAR}, -->
    <!--#{imgUrl,jdbcType=VARCHAR})-->
    <!--</insert>-->
    <!--<insert id="insertSelective" parameterType="com.dytt.movie.entity.Movie">-->
    <!--insert into gcdy_movie-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
    <!--<if test="id != null">-->
    <!--id,-->
    <!--</if>-->
    <!--<if test="createUserId != null">-->
    <!--create_user_id,-->
    <!--</if>-->
    <!--<if test="createDate != null">-->
    <!--create_date,-->
    <!--</if>-->
    <!--<if test="lastUpdateUserId != null">-->
    <!--last_update_user_id,-->
    <!--</if>-->
    <!--<if test="lastUpdateDate != null">-->
    <!--last_update_date,-->
    <!--</if>-->
    <!--<if test="title != null">-->
    <!--title,-->
    <!--</if>-->
    <!--<if test="name != null">-->
    <!--name,-->
    <!--</if>-->
    <!--<if test="name2 != null">-->
    <!--name2,-->
    <!--</if>-->
    <!--<if test="age != null">-->
    <!--age,-->
    <!--</if>-->
    <!--<if test="placeOfOrigin != null">-->
    <!--place_of_origin,-->
    <!--</if>-->
    <!--<if test="categoryId != null">-->
    <!--category_id,-->
    <!--</if>-->
    <!--<if test="language != null">-->
    <!--language,-->
    <!--</if>-->
    <!--<if test="subtitle != null">-->
    <!--subtitle,-->
    <!--</if>-->
    <!--<if test="releaseTime != null">-->
    <!--release_time,-->
    <!--</if>-->
    <!--<if test="doubanScore != null">-->
    <!--douban_score,-->
    <!--</if>-->
    <!--<if test="imdbScore != null">-->
    <!--IMDb_score,-->
    <!--</if>-->
    <!--<if test="fileFormat != null">-->
    <!--file_format,-->
    <!--</if>-->
    <!--<if test="videoSize != null">-->
    <!--video_size,-->
    <!--</if>-->
    <!--<if test="fileSize != null">-->
    <!--file_size,-->
    <!--</if>-->
    <!--<if test="length != null">-->
    <!--length,-->
    <!--</if>-->
    <!--<if test="director != null">-->
    <!--director,-->
    <!--</if>-->
    <!--<if test="actor != null">-->
    <!--actor,-->
    <!--</if>-->
    <!--<if test="summary != null">-->
    <!--summary,-->
    <!--</if>-->
    <!--<if test="awards != null">-->
    <!--awards,-->
    <!--</if>-->
    <!--<if test="downloadLink != null">-->
    <!--download_link,-->
    <!--</if>-->
    <!--<if test="imgUrl != null">-->
    <!--img_url,-->
    <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
    <!--<if test="id != null">-->
    <!--#{id,jdbcType=BIGINT},-->
    <!--</if>-->
    <!--<if test="createUserId != null">-->
    <!--#{createUserId,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="createDate != null">-->
    <!--#{createDate,jdbcType=TIMESTAMP},-->
    <!--</if>-->
    <!--<if test="lastUpdateUserId != null">-->
    <!--#{lastUpdateUserId,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="lastUpdateDate != null">-->
    <!--#{lastUpdateDate,jdbcType=TIMESTAMP},-->
    <!--</if>-->
    <!--<if test="title != null">-->
    <!--#{title,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="name != null">-->
    <!--#{name,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="name2 != null">-->
    <!--#{name2,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="age != null">-->
    <!--#{age,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="placeOfOrigin != null">-->
    <!--#{placeOfOrigin,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="categoryId != null">-->
    <!--#{categoryId,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="language != null">-->
    <!--#{language,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="subtitle != null">-->
    <!--#{subtitle,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="releaseTime != null">-->
    <!--#{releaseTime,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="doubanScore != null">-->
    <!--#{doubanScore,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="imdbScore != null">-->
    <!--#{imdbScore,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="fileFormat != null">-->
    <!--#{fileFormat,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="videoSize != null">-->
    <!--#{videoSize,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="fileSize != null">-->
    <!--#{fileSize,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="length != null">-->
    <!--#{length,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="director != null">-->
    <!--#{director,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="actor != null">-->
    <!--#{actor,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="summary != null">-->
    <!--#{summary,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="awards != null">-->
    <!--#{awards,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="downloadLink != null">-->
    <!--#{downloadLink,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="imgUrl != null">-->
    <!--#{imgUrl,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--</trim>-->
    <!--</insert>-->
    <!--<update id="updateByPrimaryKeySelective" parameterType="com.dytt.movie.entity.Movie">-->
    <!--update gcdy_movie-->
    <!--<set>-->
    <!--<if test="createUserId != null">-->
    <!--create_user_id = #{createUserId,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="createDate != null">-->
    <!--create_date = #{createDate,jdbcType=TIMESTAMP},-->
    <!--</if>-->
    <!--<if test="lastUpdateUserId != null">-->
    <!--last_update_user_id = #{lastUpdateUserId,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="lastUpdateDate != null">-->
    <!--last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},-->
    <!--</if>-->
    <!--<if test="title != null">-->
    <!--title = #{title,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="name != null">-->
    <!--name = #{name,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="name2 != null">-->
    <!--name2 = #{name2,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="age != null">-->
    <!--age = #{age,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="placeOfOrigin != null">-->
    <!--place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="categoryId != null">-->
    <!--category_id = #{categoryId,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="language != null">-->
    <!--language = #{language,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="subtitle != null">-->
    <!--subtitle = #{subtitle,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="releaseTime != null">-->
    <!--release_time = #{releaseTime,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="doubanScore != null">-->
    <!--douban_score = #{doubanScore,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="imdbScore != null">-->
    <!--IMDb_score = #{imdbScore,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="fileFormat != null">-->
    <!--file_format = #{fileFormat,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="videoSize != null">-->
    <!--video_size = #{videoSize,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="fileSize != null">-->
    <!--file_size = #{fileSize,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="length != null">-->
    <!--length = #{length,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="director != null">-->
    <!--director = #{director,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="actor != null">-->
    <!--actor = #{actor,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="summary != null">-->
    <!--summary = #{summary,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="awards != null">-->
    <!--awards = #{awards,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="downloadLink != null">-->
    <!--download_link = #{downloadLink,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="imgUrl != null">-->
    <!--img_url = #{imgUrl,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</update>-->
    <!--<update id="updateByPrimaryKey" parameterType="com.dytt.movie.entity.Movie">-->
    <!--update gcdy_movie-->
    <!--set create_user_id = #{createUserId,jdbcType=INTEGER},-->
    <!--create_date = #{createDate,jdbcType=TIMESTAMP},-->
    <!--last_update_user_id = #{lastUpdateUserId,jdbcType=INTEGER},-->
    <!--last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},-->
    <!--title = #{title,jdbcType=VARCHAR},-->
    <!--name = #{name,jdbcType=VARCHAR},-->
    <!--name2 = #{name2,jdbcType=VARCHAR},-->
    <!--age = #{age,jdbcType=VARCHAR},-->
    <!--place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},-->
    <!--category_id = #{categoryId,jdbcType=VARCHAR},-->
    <!--language = #{language,jdbcType=VARCHAR},-->
    <!--subtitle = #{subtitle,jdbcType=VARCHAR},-->
    <!--release_time = #{releaseTime,jdbcType=VARCHAR},-->
    <!--douban_score = #{doubanScore,jdbcType=VARCHAR},-->
    <!--IMDb_score = #{imdbScore,jdbcType=VARCHAR},-->
    <!--file_format = #{fileFormat,jdbcType=VARCHAR},-->
    <!--video_size = #{videoSize,jdbcType=VARCHAR},-->
    <!--file_size = #{fileSize,jdbcType=VARCHAR},-->
    <!--length = #{length,jdbcType=VARCHAR},-->
    <!--director = #{director,jdbcType=VARCHAR},-->
    <!--actor = #{actor,jdbcType=VARCHAR},-->
    <!--summary = #{summary,jdbcType=VARCHAR},-->
    <!--awards = #{awards,jdbcType=VARCHAR},-->
    <!--download_link = #{downloadLink,jdbcType=VARCHAR},-->
    <!--img_url = #{imgUrl,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</update>-->
</mapper>